menu,
ul {
  display: flex;
  list-style: none;
  padding: 0;
  width: 400px;
}

li {
  flex-grow: 1;
}

/*
button {
  width: 100%;
}
  */
.color-picker-row {
  display: flex;
  flex-wrap: wrap;
}

.color-picker {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.color-picker-div {
  width: 50px;
  height: 100px;
  margin: 5px;
  /*margin: 5px;*/
  border: thin solid;
  border: thin solid;
  /*cursor: pointer;*/
}

.color-picker-mid {
  width: 30px;
  height: 30px;
  margin: 5px;
  border: thick solid;
  cursor: crosshair;
  color: #333;
}

.colorNumber {
  font-family: sans-serif;
  font-size: 0.1rem;
}

/* Display value styling 
  //font-size: 24px;*/
.range-display {
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  text-align: center;
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 200px;
}

option {
  padding: 0;
}

input[type="range"] {
  width: 200px;
  margin: 0;
}

html {
  touch-action: manipulation;
  /* Prevent zooming via double-tap */
}